// Pure HTML
body {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

// Scrollbar
::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: $primary;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.default_margin {
	@apply mx-[10vw];
}

// Transitions
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

// Icons
.icon {
	@apply hover:bg-slate-400/20 rounded-full duration-100;
}
