// Pure HTML

body {
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

html,
body {
	@apply w-screen h-screen overflow-x-hidden;
}

// Apply only in elements outside the music-sheet class
p,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
label {
	@apply [&>:not(.music-sheet)]:dark:text-white [&>:not(.music-sheet)]:text-black;
}

.music-sheet {
	@apply text-black dark:text-white default_border;
}

// Scrollbar
::-webkit-scrollbar {
	width: 0.25rem;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: $primary;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.default_margin {
	@apply mx-[10vw];
}

.app_margin {
	@apply mx-10;
}

// Transitions
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.2s ease-out;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

// Icons
.icon {
	@apply hover:bg-slate-400/20 rounded-full duration-100;
}

// FX and animations

.selected__border-success {
	background-image: linear-gradient(90deg, $success 50%, transparent 50%),
		linear-gradient(90deg, $success 50%, transparent 50%),
		linear-gradient(0deg, $success 50%, transparent 50%),
		linear-gradient(0deg, $success 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size:
		12px 2px,
		12px 2px,
		2px 12px,
		2px 12px;
	background-position:
		left top,
		right bottom,
		left bottom,
		right top;
	animation: border-dance 0.6s infinite linear;
}

.selected__bordered--neutral {
	background-image: linear-gradient(90deg, silver 50%, transparent 50%),
		linear-gradient(90deg, silver 50%, transparent 50%),
		linear-gradient(0deg, silver 50%, transparent 50%),
		linear-gradient(0deg, silver 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size:
		12px 2px,
		12px 2px,
		2px 12px,
		2px 12px;
	background-position:
		left top,
		right bottom,
		left bottom,
		right top;
	animation: border-dance 0.6s infinite linear;
}
@keyframes border-dance {
	0% {
		background-position:
			left top,
			right bottom,
			left bottom,
			right top;
	}
	100% {
		background-position:
			left 12px top,
			right 12px bottom,
			left bottom 12px,
			right top 12px;
	}
}

.selected__pulse {
	animation: pulse 0.5s infinite alternate-reverse;
}

@keyframes pulse {
	0% {
		@apply bg-primary/80;
		box-shadow: inset 0 0 0 0rem rgba(0, 0, 0.1);
	}
	100% {
		@apply bg-primary/50;
		box-shadow: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
	}
}

.icon__clickable {
	@apply hover:opacity-50 hover:scale-105 cursor-pointer duration-200;
}

.fx__fade {
	animation: fade 0.5s ease;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.default_border {
	@apply border border-black/10 dark:border-white/10;
}

.default_mode {
	@apply bg-white text-dark dark:bg-softdark dark:text-white;
}

.default_label {
	@apply mx-5 my-2 font-medium text-sm;
}
